<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /fhir-data-tool
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]



    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # redirect to t controller all but api/...
    RewriteRule ^api[^/].* index.php [L]

    # Handle the rest...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app/routes.php [L]

</IfModule>
